# Ground Truth archives
SIM12 Ground Truth.zip
muppets-gt-2025wt.zip

.DS_Store
/__pycache__/
utils/__pycache__/*.pyc
__pycache__/
*.pyc

# Raw data (audio, video, cache)
data/raw/

# Extracted video frames
data/processed/video/*-frames/*.jpg

# Virtual environments
env_muppets/
env_mupppet/

# Sample submission folder
Sample Final hand-in/